.root {
  min-height: calc(100vh - 60px);
  text-align: center;
  & .contents {
    & section {
      margin: 20px 0;
      & .question {
        justify-content: center;
        display: flex;
        gap: 24px;
      }
    }
  }
  & .send-button {
    width: 130px;
    height: 40px;
    background-color: #007bff88;
    padding: 4px;
  }
}
